# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/server/dist
/project/node_modules
/project/.pnp
/project/.pnp.js


# testing
project/coverage

# production
project/build

# misc
Thumbs.db
.DS_Store
.env
*.log*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
.idea
*.sublime*
.vscode

project.rar

docker-compose.yml
